{% extends 'search/base.html' %}

{% block content %}

<!-- userName-->
<section class="page-section bg-dark" id="productSearched">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center text-white mt-0">{% if data_dict.username %}
            {{ data_dict.username }}
        {% else %}
            {{ "Vous n'êtes pas connecté" }}
        {% endif %}</h2>
    </div>
</section>

<!--Mail-->
<div class="container my-5">
    <input type="text" class="form-control" placeholder="Mail" aria-label="Recipient's username" aria-describedby="basic-addon2" id="mail">
    <input type="text" class="form-control" placeholder="User Name" aria-label="Recipient's username" aria-describedby="basic-addon2" id="userName">
    <input type="text" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon2" id="password">
</div>

<div class="container my-5">
    <div class="text-center">
        <button type="button" class="btn btn-primary col-md-4" onclick="return create_account()">Créer un compte</button>
    </div>
</div>
<div class="container my-5 align-items-center">
    <div class="text-center">
        <button type="button" class="btn btn-primary col-md-4" onclick="return connect_account()" id="connexion">Me connecter</button>
    </div>
</div>


{% if data_dict.username %}
<div class="container my-5 align-items-center">
    <div class="text-center">
        <button type="button" class="btn btn-primary col-md-4" onclick="return update_profile_interface()" id="updateProfileInterface">Modifier mes informations</button>
    </div>
</div>
{% endif %}

{% endblock %}
