{% extends 'search/base.html' %}

{% block content %}

<!-- userName-->
<section class="page-section bg-dark" id="productSearched">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center text-white mt-0">Veuillez référencer les nouvelles données de votre profile</h2>
    </div>
</section>

<!--Mail-->
<form action="/update/" method="post">
    {% csrf_token %}
    <div class="container my-5">
        <input type="email" class="form-control" placeholder="Mail" aria-label="Recipient's username" aria-describedby="basic-addon2" name="newMail">
        <input type="text" class="form-control" placeholder="User Name" aria-label="Recipient's username" aria-describedby="basic-addon2" name="newUserName">
        <input type="password" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon2" name="newPassword">
    </div>

    <div class="container my-5">
        <div class="text-center">
            <input type="submit" value="Congirmer mes modifications" class="btn btn-primary col-md-4" id="updateConfirm">
        </div>
    </div>
</form>

{% endblock %}
