
<p><em>Nous sommes désolé, mais le problème vient probablement de vous ( sans être catégorique, prudence est mère de sûreté ;) )</em></p>
<p></p>
<p>Bon, nous allons essayer de vous aider au mieux. Voici une liste qui contiendra probablement des informations utiles :</p>
<p></p>
<p><ul>
    <p></p><ul>Si vous avez rencontré un problème lors d'une recherche de produit :
        <li>Le produit cherché n'est pas contenu en base de données</li>
        <li>Vous n'avez pas spécifié de valeur dans le champ de recherche</li>
    </ul></p>
    <p></p><ul>Si vous avez rencontré un problème lors de votre connexion ou votre tentative de création de compte :
        <li>Le compte que vous essayez de créer existe déjà</li>
        <li>Le compte que vous essayez de créer possède une adresse mail invalide</li>
        <li>Le compte auquel vous voulez vous connecter n'existe pas</li>
        <li>Vous n'avez pas spécifié de valeur pour les champs UserName et eMail</li>
    </ul></p>
    <p><ul>Si vous rencontrez un problème lors d'une tentative d'ajout d'un produit en favoris ou de la consultation de vos favoris :
        <li>Vous tentez d'accéder à vos favoris alors que vous n'êtes pas connecté</li>
        <li>Vous tentez d'ajouter un produit à vos favoris alors que vous n'êtes pas connecté</li>
        <li>Le produit que vous voulez ajouter se trouve déjà dans vos favoris</li>
    </ul></p>
</ul></p>
<p></p>
<p>Il est possible que votre problème ne soit pas lié aux cas cités ci-dessus. Dans ce cas, veuillez nous contacter par mail pour faire remonter votre problème à nos équipes.</p>
<p></p>
<a href="/">Si vous souhaitez retourner à la page d'accueil et repartir sur de bonnes bases, cliquez ici !!</a>
