<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/store/assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/store/css/styles.css" rel="stylesheet" />
        
    </head>

    <script>
        ////////// On définit un event listener sur les inputfields qui servent à la recherche de produits //////////
        function process()
        {
            // Si l'event se fait au niveau de l'inputfield du header, on définit la valeur de la variable url
            if ( document.getElementById("productRequestHeader").value ) {
            var url = "/result/?query=" + document.getElementById("productRequestHeader").value;
            }
            
            // Même démarche s'il se déclare au niveau de l'inputfield d'index.html
            if ( document.getElementById("productRequestIndex").value ) {
            var url = "/result/?query=" + document.getElementById("productRequestIndex").value;
            }
        
        // Et on définit la valeur de l'url d'après celle de la variable url avec la méthode location.href
        location.href = url;
        return false;
        }

    </script>

    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg fixed-top py-3 bg-warning" id="mainNav">
            <div class="container px-4 px-lg-5">
                <img src="../static/store/assets/img/portfolio/thumbnails/logo_pur_beurre.PNG" width="40" height="40" alt="...">
                <a class="navbar-brand p-2" href="#page-top">Pur Beurre</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><img src="../static/store/assets/img/portfolio/thumbnails/menu.png" height="30" width="30" alt="..."></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">

                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><form onsubmit="return process();"><input type="text" class="form-control" placeholder="Chercher Produit" aria-label="Recipient's username" aria-describedby="basic-addon2" id="productRequestHeader"></form></li>
                        <li class="nav-item"><a class="nav-link" href="#about"><img src="../static/store/assets/img/portfolio/thumbnails/profile.png" height="30" width="30" alt="..."></a></li>
                        <li class="nav-item"><a class="nav-link" href="#services"><img src="../static/store/assets/img/portfolio/thumbnails/carotte.png" height="30" width="30" alt="..."></a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio"><img src="../static/store/assets/img/portfolio/thumbnails/sign_out.png" height="30" width="30" alt="..."></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Gusto.inc</div></div>
            <div class="text-center">
                <ul class="list-inline social-network social-circle">
                    <li class = "list-inline-item"><a href="https://github.com/Thomas31280/pur_beurre" class="icoGithub" title="Github"><i class="fa fa-github"></i> Github</a></li>
                    <li class = "list-inline-item"><a href="https://www.facebook.com/thomas.duval.1654/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
                    <li class = "list-inline-item"><a href="https://twitter.com/home" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                    <li class = "list-inline-item"><a href="https://www.linkedin.com/in/thomas-duval-3860441b6/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i> Linkedin</a></li>
                </ul>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
